@import "../../styles/variables.scss";

.loginAll {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;

  .forCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .loginText {
    @include LnJfont_XL;
    margin: 70px;
  }

  .memberText {
    @include LnJfont_M;
    margin-bottom: 70px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
  }

  .saveID {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .loginButton {
    @include ButtonBlack;
    width: 335px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
  }
}
