@import "../../../styles/variables.scss";

.productsList {
  padding-top: 10px;

  .productWrap {
    display: grid;
    grid-template-columns: (repeat(4, 1fr));

    > li {
      padding: 0 5px 30px;
    }
  }

  .thumbnail {
    position: relative;
    width: 100%;
    cursor: pointer;

    &:hover .thumbHover {
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }

    img {
      width: inherit;

      &.thumbHover {
        position: absolute;
        left: 0;
        transition: opacity 0.3s ease-in;
        z-index: 1;
      }
    }
  }

  .cost {
    padding-top: 10px;
    text-align: center;
    font-size: $font-M;
  }
}
