@import "../../../styles/variables.scss";

.input {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 30px;

  .redPointBox {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 15px;
    height: 15px;

    .redPoint {
      width: 5px;
      height: 5px;
      background-color: red;
    }
  }
}

p {
  width: 180px;
  font-size: 15px;
}

input {
  width: 370px;
  height: 30px;
}

.good {
  margin-left: 15px;
  color: rgb(30, 124, 30);
  font-weight: 500;
}

.wrong {
  margin-left: 15px;
  color: red;
  font-weight: 500;
}
