@import "../../../styles/variables.scss";

.inputSelectPage {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 30px;

  .redPointBoxInSelectPage {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 15px;
    height: 15px;

    .redPointInSelectPage {
      width: 5px;
      height: 5px;
    }
  }
}

.titleInSelectPage {
  width: 180px;
  font-size: 15px;
}

.shortInputBox {
  width: 250px;
  height: 38px;
  margin-right: 10px;
}

.addressEmail {
  width: 120px;
  height: 38px;
  font-size: medium;
}

.longInputBox {
  @include SignUpwidth;
  margin: 28px 5px 5px 195px;
}
