@import "../../styles/variables.scss";

.list {
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 500px;
    color: white;
    background: url(./images/single_origin_bg.jpg) no-repeat center;
    background-color: #000;
    background-size: 100%;

    h2 {
      font-size: 68px;
      font-weight: 900;
      text-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    }

    p {
      margin-top: 20px;
      font-size: 26px;
      font-weight: 300;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    }
  }

  .products {
    max-width: 1200px;
    margin: 77px auto 100px;

    h3 {
      font-size: 28px;
      font-weight: 600;
    }

    .top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 2px solid #000;

      .listSort {
        display: inline-block;
        width: 100px;
        height: 30px;
        padding-left: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
      }
    }

    .country {
      display: flex;
      justify-content: flex-start;
      padding: 10px 0;

      li {
        padding: 10px 16px;
        color: $color-font-lightGray;
        font-size: $font-S;
        cursor: pointer;

        &:first-child {
          padding-left: 0;
        }

        &:hover {
          color: #000;
        }

        &.nowView {
          color: #000;
        }
      }
    }
  }
}
