@import "../../../styles/variables.scss";

.info {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  .name {
    font-size: $font-M;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .desc {
    font-size: $font-S;
    padding-top: 5px;
    color: $color-font-lightGray;
  }
}
