//font-size
@mixin LnBfont($size: 20px, $weight: 500) {
  font-size: $size;
  font-weight: $weight;
}

@mixin ButtonBlack {
  margin-top: 20px;
  margin: 40px 0px;
  background: #000000;
  color: #ffffff;
}

@mixin buttonWhite {
  margin-top: 20px;
  margin: 40px 0px;
  width: 100%;
  height: 50px;
  margin-right: 10px;
  font-size: 15px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

@mixin LnJfont_XXL {
  font-size: 55px;
  font-weight: 900;
}

@mixin LnJfont_XL {
  font-size: 40px;
  font-weight: 600;
}

@mixin LnJfont_L {
  font-size: 20px;
  font-weight: 500;
  color: $color-main-black;
}

@mixin LnJfont_M {
  font-size: 18px;
  font-weight: 600;
  color: $color-main-gray;
}

@mixin LnJfont_S {
  font-size: 13px;
  font-weight: 700;
  color: $color-font-lightGray;
}
// size
// Font
$font-L: 18px;
$font-M: 16px;
$font-S: 14px;
// color
// Font
$color-font-darkGray: #333;
$color-font-lightGray: rgb(143, 143, 143);
// Main
$color-main-black: rgb(51, 51, 51);
$color-main-gray: #717171;
// Product-tag
$color-tag-green: #007a29;
$color-tag-lightGreen: #92ac00;
$color-tag-pink: #f877c3;
// ETC
$color-product-yellow: #fbe85e;
