// size
// Font
$font-L: 18px;
$font-M: 16px;
$font-S: 14px;
// color
// Font
$color-font-darkGray: #333;
$color-font-lightGray: rgb(143, 143, 143);
// Main
$color-main-black: rgb(51, 51, 51);
$color-main-gray: #717171;
// Product-tag
$color-tag-green: #007a29;
$color-tag-lightGreen: #92ac00;
$color-tag-pink: #f877c3;
// ETC
$color-product-yellow: #fbe85e;
