@import "src/styles/variables.scss";

.footer {
  * {
    word-break: keep-all;
  }

  width: 100vw;
  background-color: black;

  .icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;

    .icon {
      height: 60px;
      opacity: 0.2;
    }

    .text {
      color: #ddd;
      font-size: 40px;
      font-weight: 700;
    }
  }

  .info {
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 470px;
    margin: 0 auto;
    color: white;

    .infoLeft {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 100px;

      .logo {
        width: 180px;
        margin-bottom: 45px;
        font-size: 30px;
        font-weight: 700;
      }

      .leftTop,
      .leftBottom {
        margin-bottom: 33px;
        font-size: $font-M;

        span {
          font-size: $font-S;
          line-height: 1.7;

          .email {
            border-bottom: 1px solid white;
            cursor: pointer;
          }
        }
      }

      .favicons {
        display: flex;
        font-size: $font-L;

        .fa-brands {
          width: 25px;
          padding: 4px;
          margin-right: 5px;
          border-radius: 50%;
          background-color: #808080;
          color: black;
          text-align: center;
          cursor: pointer;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .infoRight {
      overflow: hidden;
      width: 900px;
      margin-bottom: 40px;

      .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 55px;
        font-size: $font-S;
        font-weight: 400;

        li {
          padding: 5px 30px 5px 0;

          a {
            cursor: pointer;
          }

          .policy {
            color: #fbe85e;
          }
        }
      }

      .subscribe {
        width: 380px;
        border: 1px white solid;
        margin-bottom: 12px;

        .subscribeInput {
          width: 80%;
          padding: 10px;
          border: none;
          outline: none;
        }

        button {
          width: 10%;
          padding-left: 15px;
          background-color: black;
          color: white;
          cursor: pointer;
        }
      }

      .description {
        margin-bottom: 24px;
        line-height: 1.5;

        .preview {
          margin-left: 4px;
          border-bottom: 1px solid white;
          font-size: $font-S;
          font-weight: 300;
          cursor: pointer;
        }
      }

      .address {
        margin-bottom: 24px;
        color: #828282;
        font-size: $font-S;
        line-height: 1.5;
      }

      .copyright {
        color: #828282;
        font-size: $font-S;
        line-height: 1.5;
      }
    }
  }
}
