@import "../../styles/variables.scss";

.signUpDoneAll {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .joinText {
    margin: 200px 100px 30px 100px;
    @include LnJfont_XXL;
  }

  span {
    margin: 0px 30px 50px 30px;
    @include LnJfont_M;
  }

  .welcomeBox {
    display: flex;
    justify-content: space-between;
    width: 700px;

    .imgCover {
      width: 450px;
      padding-right: 45px;

      img {
        width: 100%;
        // width: inherit;
      }
    }
    .textCover {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 390px;

      .welcomeM {
        margin-bottom: 60px;
        font-size: 28px;
        font-weight: 600;
      }

      .con {
        @include LnJfont_L;
        margin-bottom: 30px;
        color: $color-main-gray;
        font-size: 20px;
        font-weight: bolder;
      }

      .enj {
        color: $color-font-lightGray;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
  .login_button {
    @include ButtonBlack;
    width: 280px;
    height: 63px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 600;
  }
}
