@import "../../styles/variables.scss";

.all {
  width: 100vw;
  // height: calc(100vh - 642px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 300px 0px 150px 0px;

  .join_text {
    @include LnBfont(40px, 600);
    margin-bottom: 50px;
  }

  .join_button {
    @include ButtonBlack;
    margin-bottom: 70px;
    width: 400px;
    height: 57px;
    font-size: 15px;
    font-weight: 500;
  }
  .alreadyhaveid {
    display: flex;
    justify-content: center;
    width: 280px;
    .loginFor {
      margin-left: 10px;
      border-bottom: 1px black solid;
    }
  }
}
