.container {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 0;

  .mainPic {
    position: relative;
    width: 100%;
    min-width: 500px;
    text-align: center;
    overflow: hidden;
    // margin-left: 40px;

    .pic {
      width: 100%;
    }
  }

  .mainContent {
    width: 100%;
    padding: 50px;
  }

  .mainName {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;

    .firstName {
      font-size: 28px;
      line-height: 34px;
      padding-right: 60px;
    }

    .secondName {
      padding-top: 8px;
      font-size: 16px;
      color: #808080;
    }
  }
  .price {
    display: flex;
    margin-bottom: 20px;

    .priceName {
      padding-top: 8px;
      padding-right: 10px;
    }

    .priceWon {
      padding-top: 8px;
      font-size: 16px;
    }
  }
  .mainWeight {
    display: flex;

    padding-bottom: 16px;
    // border-bottom: 1px solid #e7e7e7;

    .weight {
      align-items: center;
      padding-left: 25px;
    }
  }

  .itemCount {
    padding: 25px;
    border-bottom: 1px solid #e7e7e7;
    .countContainer {
      border: 1px solid #e7e7e7;
      padding: 13px;
      margin: 20px;
      .minusBtn {
        width: 50px;
        height: 40px;
        border: none;
        outline: none;
        color: #000000;
        background-color: #fff;
      }
      .countBox {
        width: 50px;
        height: 40px;
        outline: none;
        border: none;
        text-align: center;
      }
      .plusBtn {
        width: 50px;
        height: 40px;
        border: none;
        outline: none;
        color: #000000;
        background-color: #fff;
      }
    }
    .total {
      min-width: auto;
      padding: 0 8px 0 20px;
      color: #000;
      line-height: 40px;
      font-size: 14px;
      font-weight: normal;
    }
    .totalDelBtn {
      color: #000;
      background-color: #fff;
      border: 1px solid #e7e7e7;
      font-size: 1.2em;
    }
  }

  .totalPrice {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px 0px;
    .priceText {
      text-align: center;
    }

    .priceNum {
      margin-left: 10px;
      font-size: 1.5em;
    }
  }
}
.buttonCart {
  display: flex;
  margin-top: 20px;
  margin: 40px 0px;

  .cartBtn {
    width: 100%;
    height: 50px;
    margin-right: 10px;
    font-size: 15px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }

  .orderBtn {
    width: 100%;
    height: 50px;
    font-size: 15px;
    background: #000000;
    color: #ffffff;
  }
}
